<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-=1.0">
        <meta http-equiv="X-UA-Comptabile" content="ie=edge">
        <title>Mongo File Uploads</title>
    </head>
    <body>
        <h1>Mongo File Uploads</h1>
    </body>
</html>